<%@val = 'About US'%>

 <% @beekeepers.each do |beekeeper| %>
  <article class="post"> 
   	<section class="post-head">	
             <br>
			 
			 <% if  user_signed_in? %>
                <% if  current_user.admin? %>
                   <h5><%= link_to beekeeper.title, beekeeper_path(beekeeper) %></h5>
				<% else %>
                   	<h5><%= beekeeper.title %></h5>			
                <% end %>
					
			  <% else %>
				     <h5><%= beekeeper.title %></h5>
			 <% end %>		 
		
	</section>
	
	<section class="post-text justify">  
		 
		<div class="row">  
		  <div class="col-lg-6"> 
		   <%=image_tag beekeeper.image.url(:thumb), class: "img-thumbnail thumb", style: "height: 100%; width: 100%"  if beekeeper.image?%>
		  </div>
		  <div class="col-lg-6"> 
		   <%=image_tag beekeeper.image1.url(:thumb), class: "img-thumbnail thumb", style: "height: 100%; width: 100%" if beekeeper.image1?%>
		  </div>
		</end>    
                     			
    </section>
    <%= beekeeper.text %> 
   
   <div class="row">
	  <div class="col-lg-4">
           <%str1 = "facebook" if beekeeper.url1.include?("facebook")%>
		   <%str1 = "linkedin" if beekeeper.url1.include?("linkedin")%>
		   <%str1 = "instagram" if beekeeper.url1.include?("instagram")%>
		   <%str1 = "twitter" if beekeeper.url1.include?("twitter")%>
		   
		  <%=link_to str1, beekeeper.url1, data: { confirm: "Are you sure?" } if beekeeper.url1? %>
	   </div>
		<div class="col-lg-4">
		
		   <%str2 = "facebook" if beekeeper.url2.include?("facebook")%>
		   <%str2 = "linkedin" if beekeeper.url2.include?("linkedin")%>
		   <%str2 = "instagram" if beekeeper.url2.include?("instagram")%>
		   <%str2 = "twitter" if beekeeper.url2.include?("twitter")%>
		   
		  <%=link_to str2, beekeeper.url2, data: { confirm: "Are you sure?" } if beekeeper.url2? %>
		</div> 
		<div class="col-lg-4">
		  
		   <%str3 = "facebook" if beekeeper.url3.include?("facebook")%>
		   <%str3 = "linkedin" if beekeeper.url3.include?("linkedin")%>
		   <%str3 = "instagram" if beekeeper.url3.include?("instagram")%>
		   <%str3 = "twitter" if beekeeper.url3.include?("twitter")%>
		
		  <%=link_to str3, beekeeper.url3, data: { confirm: "Are you sure?" } if beekeeper.url3? %>
		</div>
   </div>

 </article><br>	
  <%end%>


 

<% if  user_signed_in? %>
 <% if  current_user.admin? %>
    <div class="actions"> 
	   <%=link_to 'Add beekeeper', new_beekeeper_path, class:"btn btn-primary"%>
	</div>
 <%end%>
<%end%>	

	
	


