<%@val = 'Specifications'%>

 <% @specifications.each do |specification| %>
  <article class="post"> 
   	<section class="post-head">	
             <br>
			 
			 <% if  user_signed_in? %>
                <% if  current_user.admin? %>
                   <h4><%= link_to specification.title, specification_path(specification) %></h4>
				<% else %>
                   	<h4><%= specification.title %></h4>			
                <% end %>
					
			  <% else %>
				     <h4><%= specification.title %></h4>
			 <% end %>		 
		
	</section>
	
	
		 
		<div class="container">  
		  
		   <%=image_tag specification.image.url(:large), class:"img-show" if specification.image?%><br>
		   
		  
		</end>
        
            <%= specification.text %>         			
    
   </article><br> 	
  <%end%>


<% if  user_signed_in? %>
 <% if  current_user.admin? %>
   <div class="actions">  
	<%=link_to 'Add specification', new_specification_path, class:"btn btn-primary"%>
	</div>
 <%end%>
<%end%>	
 